<div class="all">
  <p class="flex">Вітаємо, <span class="text-upper">&nbsp;{{loggedUser.firstName}} {{loggedUser.lastName}}</span></p>
  <p class="flex">"Смакуй смачненьке щодня з ЕКОЛАВКА"</p>
  <p class="title-text flex">Еко-Лавка</p>
  <p class="marg-l f-Weight">Мережа магазинів спеціалізованих на реалізації натуральної та екологічно чистої продукції, яка
    вирощується і виробляється на фермерських господарствах. Ми дуже раді Вам і пропонуємо широкий вибір екологічних
    товарів:</p>
  <ul class="marg-l">
    <li>Ароматні, високої якості спеції і прянощі.</li>
    <li>Трави, фіточаї з екологічно чистих районів Карпат, які крім лікувальних властивостей мають чудовий смак і
      аромат.</li>
    <li>Натуральні ефірні масла - ефективні і нетоксичні природні засоби, користь від яких для людини перевірена
      тисячоліттями.</li>
    <li>Натуральна косметика - це кращий вибір для збереження Вашої краси і молодості.</li>
    <li>Засоби для волосся - шампуні без лаурилсульфату, маски, бальзами, фарби для волосся на основі індійської хни,
      повернуть вашому волоссю блиск і здоров'я.</li>
    <li>Екологічно чисті пральні порошки без фосфатів, мильні горіхи, миючі засоби для посуду і прибирання в будинку,
      натуральне мило ручної роботи, дезодорант "Кристал", товари для дітей.</li>
  </ul>
  <p class="marg-l f-Weight">Приємних Вам покупок!</p>
</div>
