<footer>
    <div class="footer">

<h6><a [routerLink]="[ '/return' ]">Політика повернення товарів і засобів</a></h6>
<div>
    <a href="#">
        <img class="socialIcon" src="assets/images/facebook.png" alt="image">
    </a>
    <a href="#">
        <img class="socialIcon" src="assets/images/twitter.png" alt="image">
    </a>
    <a href="#">
        <img class="socialIcon" src="assets/images/instagram2.png" alt="image">
    </a>
</div>

<div class="text-footer">
   <a class="aMargin" [routerLink]="[ '/home' ]"> <span class="shop-text">Магазин <span class="fWeight">Еко-Лавка</span></span></a>
</div>
        
    </div>
</footer>