<div class="all">
  <p class="fs25">Вирішення питань, пов'язані з поверненням товару</p>
  <p class="fs16">Ми любимо наших клієнтів і хочемо, щоб ви і ваші близькі отримували якісний, свіжий товар і відмінний
    сервіс!</p>
  <p class="fs16">Що робити, якщо у Вашій посилці виявився товар, який не відповідає Вашим очікуванням?</p>
  <p class="fs14">-> Зателефонувати / написати нам, пояснити ситуацію, надіслати фото. У нас чудова команда
    професіоналів, яка обов'язково допоможе.</p>
  <p class="fs14 mb30">-> Отримати заміну товару або повернення коштів.</p>
  <p class="fs16">Ви завжди можете зв'язатися з нами одним із таких способів:</p>
  <p class="fs14">-> за номером телефону: +380 (73) 734-57-77</p>
  <p class="fs14">->по електронній пошті: admin@eco-lavca.ua</p>
  <p class="fs14 mb30">-> на сайті відвідайте розділ «Контакти»</p>
  <p class="fs25">ВИМОГИ до товарів, що підлягають ПОВЕРНЕННЯ</p>
  <p class="fs16">Для повернення Вам необхідно надати товар в його первісному вигляді: без пошкоджень і слідів
    використання, з
    оригінальними ярликами, бірками і в оригінальній упаковці. Якщо товар був придбаний в комплекті, він повинен бути
    повернутий в повному складі.</p>
  <p class="fs16">Правила повернення товарів, придбаних в інтернет-магазині Еко-Лавка, регулюються Законом України «Про
    захист прав споживачів».</p>
  <p class="fs16 mb30">Ми залишаємо за собою право не приймати повернуті товари, якщо вони були доставлені на наш склад
    після
    закінчення 14-денного терміну, або якщо стан товарів відрізняється від того, в якому Ви їх отримали.</p>
  <p class="fs25">ПОВЕРНЕННЯ КОШТІВ</p>
  <p class="fs16">Після отримання повернення і підтвердження, що вимоги до поверненню товари дотримані, ми повернемо Вам
    гроші.</p>
  <p class="fs16">Повернення грошей здійснюється тим же способом, яким Ви оплатили замовлення.</p>
  <p class="fs16 mb30">Зверніть увагу, що при оплаті банківською картою термін повернення грошових коштів залежить від
    політики установи, що випустив карту.</p>
  <p class="fs25">Закон щодо повернення та обміну товарів</p>
  <p class="fs16">Статті 9 Закону України «Про захист прав споживачів» передбачено право споживача обміняти
    непродовольчий товар належної якості на аналогічний, якщо куплений товар не підійшов за формою, габаритами, фасоном,
    кольором, розміром або з інших причин не може бути використаний за призначенням.</p>
  <p class="fs16">Обмін або повернення товару можливе протягом 14 днів, без врахування дня покупки, якщо триваліший
    термін обміну або повернення товару не було оголошено продавцем. Обмін або повернення товару проводиться, якщо він
    не використовувався і якщо збережено його товарний вид, споживчі властивості, пломби, ярлики та розрахунковий
    документ, виданий продавцем разом з товаром. Якщо на момент обміну або повернення потрібного товару немає у продажу,
    споживач має право розірвати договір купівлі-продажу та повернути товар і одержати назад гроші.</p>
  <p class="fs16">Відповідно до Постанови Кабінету Міністрів України від 19 березня 1994 р. № 172 «Про реалізацію
    окремих положень Закону України «Про захист прав споживачів», затверджено перелік товарів належної якості, що не
    підлягають обміну (поверненню).</p>
    <p class="fs16">Перелік товарів належної якості, що не підлягають обміну (поверненню):</p>
    <p class="fs14">-> предмети сангігієни</p>
    <p class="fs14">-> парфюмерно-косметичні вироби</p>
    <p class="fs14">-> дитячі іграшки м’які</p>
    <p class="fs14">-> дитячі іграшки гумові надувні</p>
    <p class="fs14">-> зубні щітки</p>
    <p class="fs14">-> розчіски, гребенці та щітки масажні</p>
    <p class="fs14">-> рукавички</p>
    <p class="fs14">-> білизна натільна</p>
    <p class="fs14">-> білизна постільна</p>
    <p class="fs14">-> панчішно-шкарпеткові вироби</p>
    <p class="fs14">-> товари в аерозольній упаковці</p>
    <p class="fs14">-> друковані видання</p>
    <p class="fs14">-> аудіо-, відеокасети, диски для лазерних систем зчитування із записом</p>
    <p class="fs14">-> товари для немовлят (пелюшки, соски, пляшечки для годування тощо)</p>
    <p class="fs14">-> інструменти для манікюру, педикюру (ножиці, пилочки тощо)</p>
</div>
