.all{
    width: 100%;
    min-height: 500px;
    padding-top: 30px;
    padding-left: 35px;
}
.fs25{
    font-size: 25px;
}
.fs16{
    font-size: 16px;
}
.fs14{
    font-size: 14px;
}
.mb30{
    margin-bottom: 30px;
}